[submodule "resources/public/scripts/spa"]
	path = resources/public/scripts/spa
	url = https://github.com/vortext/spa.git
[submodule "robotreviewer2"]
	path = resources/topologies/ebm/robotreviewer2
	url = git@github.com:ijmarshall/robotreviewer2.git
