build-essential
tar
software-properties-common
autoconf
automake
uuid-dev
git
aria2
curl
gfortran
libxml2-dev
libxslt1-dev
libreadline6
libreadline6-dev
libjpeg8
libjpeg8-dev
libfreetype6
libfreetype6-dev
zlib1g-dev
openssl
libssl-dev
libffi-dev
ca-certificates
unzip
